.featuredProducts {
  margin: 100px 30px;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;

    h1 {
      flex: 2;
      text-transform: capitalize;
    }
    p {
      flex: 3;
      color: gray;
    }
  }
  .bottom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
    .card {
      width: 100%;
    }
  }
}
