.productsWrapper {
  display: flex;
  gap: 20px;
  padding: 50px 30px;

  .layer-dark {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
    display: none;
  }

  @media (max-width: 600px) {
    padding: 50px 0;
  }
  .left {
    flex: 1;
    position: sticky;
    top: 80px;
    height: 100%;
    @media (max-width: 500px) {
      position: fixed;
      background-color: #fff;
      height: 100%;
      box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.1);
      padding: 20px;
      z-index: 100;
      transform: translateX(-150%);
      transition: all 0.2s ease-in-out;
    }
    .filteredItem {
      margin-bottom: 40px;
      h2 {
        font-weight: 400;
        margin-bottom: 20px;
      }
      .inputItem {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        input[type="checkbox"] {
          margin-bottom: -2px;
        }
        label {
          margin-left: 10px;
        }
        button {
          background-color: #2879fe;
          color: #fff;
          padding: 10px 20px;
        }
      }
    }
    @media (max-width: 500px) {
      margin-left: -20px;
    }
  }
  .right {
    flex: 3;
    .mobile-title {
      display: none;
      @media (max-width: 500px) {
        display: block;
        margin-bottom: 20px;
        font-size: 24px;
        font-weight: 400;
      }
    }
    .filter {
      display: none;

      @media (max-width: 500px) {
        display: flex;
        gap: 20px;

        align-items: center;
        margin-bottom: 20px;
        padding: 0 20px;
        cursor: pointer;
      }
    }
    .catImg {
      width: 100%;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
  }
}
